<configuration>
  <packageSources>
    <clear />

    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Signature-OpenSource>
      <add key="Username" value="SignatureOpenSource" />
      <add key="ClearTextPassword" value="swjbqga6kdzyjqhldm6mzaxn3qb3bji6l5prwnrqw2tnj7zots2a" />
    </Signature-OpenSource>
  </packageSourceCredentials>
</configuration>