<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DefaultBinPaths" value="{CKSetupAutoTargetProjectBinFolder}" />
    <add key="Monitor/LogToTextFile" value="true" />
    <add key="Monitor/LogToConsole" value="true" />
    <add key="DatabaseName" value="SEC"/>
    <add key="SqlServer/MasterConnectionString"
value="Server=localhost\SQLEXPRESS;Database=master;Trusted_connection=true;" />
  </appSettings>

</configuration>